.navbar {
    padding: 15px;
    background-color: transparent;
    /* background: linear-gradient(150deg, #bdc3d4 0%, #111827 100%); */
  }
  .navbar .navbar-brand {
    font-weight: bold;
  }
  .navbar-nav .nav-link {
    margin-right: 15px;
  }
  