<section class="about">
<section class="about">
  <div class="about-container">
    <!-- Image Section -->
    <div class="about-image">
      <img src="../../../assets/about.jpg" alt="Manjunatha Nayak">
    </div>
    <!-- Text Section -->
    <div class="about-text">
      <div class="about-intro">
        <h2>About Me</h2>
        <p>
          Hello! I’m Manjunatha Nayak, an entry-level software engineer with a strong foundation in programming languages like Java, JavaScript, and Object-Oriented Concepts. My journey began with learning these core skills, and I’ve gradually developed expertise in frameworks such as Angular, Node.js, and Spring Boot.
        </p>
        <!-- <p>
          I’ve built a solid skillset in the MEAN stack through hands-on projects and am constantly expanding my knowledge in full-stack development. Recently, I completed a Full Stack Java Development course from Kodnest Institute of Technology, Bangalore, which helped me gain a deeper understanding of backend technologies as well.
        </p> -->
      </div>

      <div class="journey">
        <h3>My Journey</h3>
        <p>I started as a software development apprentice and quickly became proficient in Angular, JavaScript, and Node.js. Over time, I’ve worked on vcouple of projects ranging from e-commerce platforms to financial tools, always eager to learn and apply new technologies.</p>
      </div>

      <div class="skills-beyond">
        <h3>Skills Beyond Coding</h3>
        <p>
          Apart from development, I like to take ownership of the tasks I work on, being fully responsible for the outcomes. I enjoy taking on new opportunities that push me to grow and expand my skillset. Additionally, I have a strong interest in understanding business needs and translating them into effective technical solutions.
        </p>
      </div>

      <div class="cta">
        <a href="../../../assets/Manjunatha-Trainee.pdf" class="btn-primary">Download Resume</a>
        <a href="/projects" class="btn-secondary">See My Work</a>
      </div>
    </div>
  </div>
</section>

