<section class="projects">
    <h2>My Projects</h2>
    <div class="project-cards">
      <!-- Project 1 Card -->
      <div class="card">
        <img src="../../../assets/food-app.png" alt="Project 1">
        <div class="card-content">
          <h3>Project 1: Food Application</h3>
          <p>
            A ecommerce application focused on food items, developed using the MEAN stack.
          </p>
          <p><strong>Tech Stack:</strong> Angular, Node.js, MongoDB</p>
          <div class="card-buttons">
            <a href="https://getyfood.netlify.app/" target="_blank" class="btn-primary">View Live</a>
            <a href="https://github.com/Manju0180/getYfood" class="btn-secondary" target="_blank">GitHub</a>
          </div>
        </div>
      </div>
  
      <!-- Project 2 Card -->
      <div class="card">
        <img src="../../../assets/budget-app.png" alt="Project 2">
        <div class="card-content">
          <h3>Project 2: Budget Planner Application</h3>
          <p>
            A budget planner app that helps users track their monthly and yearly expenses.
          </p>
          <p><strong>Tech Stack:</strong> HTML, CSS, JavaScript and Angular</p>
          <div class="card-buttons">
            <a href="https://planbudgetforyou.netlify.app/budget-planner/dashboard" target="_blank" class="btn-primary">View Live</a>
            <a href="https://github.com/Manju0180/Budget-Planner-application" class="btn-secondary" target="_blank">GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
