/* Hero Section Styling */
.hero {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
  padding: 100px 50px;
  background: linear-gradient(135deg, #1d4ed8 0%, #111827 100%);
  height: calc(100vh - 100px); /* Adjust based on your header height */
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

.hero-content {
  max-width: 600px;
}

.tagline-button {
  background-color: #1e40af;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
  margin-bottom: 20px;
}

h1 {
  font-size: 48px;
  margin: 20px 0;
  line-height: 1.2;
}

h1 .highlight {
  color: #3b82f6;
}

.description {
  font-size: 18px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.btn-primary {
  background-color: #3b82f6;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-secondary {
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid white;
}

.hero-image {
  position: relative;
  max-width: 450px;
}

.hero-image img {
  width: 60%;
  height: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  overflow: none;
}
