.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 50px;
  background: linear-gradient(135deg, #1d4ed8 0%, #111827 100%);
  height: calc(100vh - 100px); /* Adjust based on your header height */
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 0; /* Ensure no external margin */
}

.hero-content {
  max-width: 600px;
}

.tagline-button {
  background-color: #1e40af;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
  margin-bottom: 20px;
}

h1 {
  font-size: 48px;
  margin: 20px 0;
  line-height: 1.2;
}

h1 .highlight {
  color: #3b82f6;
}

.description {
  font-size: 18px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.btn-primary {
  background-color: #3b82f6;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-secondary {
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid white;
}

.hero-image {
  position: relative;
  flex-grow: 1; /* Allow image section to grow */
  display: flex;
  justify-content: flex-end; /* Align image to the right */
  max-width: 500px;
}

.hero-image img {
  width: 100%; /* Make the image fill its container */
  max-width: 300px; /* Set a maximum width to prevent oversized images */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}
